@import 'viewports';
header{
    display:flex;
    flex-direction: column;
    @media screen and (min-width:$tablet+1){
        flex-direction: row;
    }
    .logo{
        background-image: url('../assets/csl-logo.png');
        margin: 0 auto;
        width:150px;
        height:150px;
        // margin:0 auto;
    }
    nav{
        display:flex;
        justify-content: space-evenly;
        flex-grow:2;
        align-items:center;
        margin-top:.5em;
        .mobile{
            @media screen and(max-width:$tablet) {
                display:none;
            }
        }
    }

}