<template>
  <figure @click="crystalInfo(crystalBall)">
    <img :src="getImageUrl(crystalBall.image)" :alt="crystalBall.image.caption" srcset="">
    <figcaption>{{ crystalBall.image.caption }}</figcaption>
    <template v-if="!galleryMode">
      <div v-for="stone in crystalBall.stones" :key="stone.id">
        <details>
          <summary> Learn about {{ stone.name }}</summary>
          <p>{{ stone.description }}</p>
          <p>{{ stone.colors }}</p>
          <p>Great for: {{ stone.usage }}</p>
          <p v-if="stone.planet">Planet: {{ stone.planet }}</p>
          <p v-show="stone.sign">Sign: {{ stone.sign }}</p>
          <a v-show="stone.url" :href="stone.url">Learn more</a>
        </details>
      </div>
    </template>
  </figure>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
@Component
export default class CrystalBall extends Vue {
  @Prop() crystalBall!:CrystalBall
  @Prop(Boolean) galleryMode!:boolean
  getImageUrl(image: { formats: { thumbnail: { url: any } }; url: any }):string{
    if(this.galleryMode){
      return `${this.$config.cmsURL}${image.formats.thumbnail.url}`
    }
    else{
      return `${this.$config.cmsURL}${image.url}`
    }
  }
  crystalInfo(crystal:CrystalBall){
    this.$emit('selectedCrystal',crystal)
  }
}
</script>
<style lang="scss" scoped>
@use '@/assets/scss/viewports';
figure {
    display:flex;
    flex-direction: column;
    width:200px;
    min-height:200px;
    text-align: center;
    border: 1px solid black;
    animation: fadeIn .75s linear forwards;
    opacity:0;
}

@keyframes fadeIn {
    100%{
        opacity: 1;
    }
}
.sphere{
    display:flex;
    flex-direction: column;
    border:1px solid gray;
    align-items: center;
    padding:0.25em;
    margin-bottom:1.5em;
    &:first-child{
        margin-top:1.5em;
    }
    &:hover{
        box-shadow: 2px 2px lightslategray;
    }

}

</style>