<template>
  <header>
    <a href="/" class="logo"></a>
    <nav>
      <a href="spheres">Crystal Balls</a>
      <a href="media">Crystals in Media</a>
    </nav>
  </header>
</template>
<style lang="scss" scoped>
@import '@/assets/scss/nav';
</style>