<template>
<article>
    <template v-if="selectedCrystal">
        <div class="crystal-info">
            <a href="#" @click.prevent="hideCrystal()">Close</a>
            <crystal-ball :crystalBall="selectedCrystal"/>
        </div>
    </template>
    <section class="gallery">
        <template v-for="crystal in crystalBalls"> 
            <crystal-ball :style="{animationDelay: Math.random()*1+'s'}" :crystalBall="crystal" :galleryMode="true" :key="crystal.id" class="sphere" @selectedCrystal="setCrystal"/>
        </template>
    </section>
</article>

</template>
<script lang="ts">
import {Component, Prop,Vue} from 'vue-property-decorator'
import CrystalBall from './CrystalBall.vue'
@Component({
    components:{
        CrystalBall
    }
})
export default class SphereGallery extends Vue{
    @Prop() crystalBalls!:CrystalBall[]
    selectedCrystal:CrystalBall|null = null
    // displayCrystal(crystal:CrystalBall){
    //     this.selectedCrystal = crystal
        
    // }

    hideCrystal():void{

        this.selectedCrystal = null
        const gallery = document.querySelector<HTMLElement>('.gallery')
        if(gallery){
            //  gallery.style="opacity:1"
            gallery.style.opacity = '1'
            gallery.style.zIndex = '1'
        }
        
    }
    setCrystal(crystal:CrystalBall){
        this.selectedCrystal = crystal
        const gallery = document.querySelector<HTMLElement>('.gallery')
        if(gallery){
            gallery.style.opacity = '0.2'
            gallery.style.zIndex = '-1'
        }
        // gallery.style = "opacity:0.2;z-index:-1;"

    }
}
</script>
<style lang="scss" scoped>
@use '@/assets/scss/viewports';
.sphere{
    display:flex;
    flex-direction: column;
    border:1px solid gray;
    align-items: center;
    padding:0.25em;
    margin-bottom:1.5em;
    &:first-child{
        margin-top:1.5em;
    }
    &:hover{
        cursor: pointer;
    }

}

article{
    min-height: 70vh;
    padding:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto auto;
    #filters{
    width:90%;
    padding:2em;
    text-align: center;
    border-radius: 10px;
    margin-top:2em;
    margin-bottom:2em;
    }
.crystal-info{
    position:fixed;
    top:auto;
    left:auto;
    min-width:300px;
    min-height:300px;
    background-color:hsl(0, 100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 20;
    border: 1px solid black;
    border-radius: 2%;
    padding:.5em;
    a{
        align-content: flex-end;
    }
    figure{
        border:0;
    }


}

    @media screen and (min-width:viewports.$tablet+1) {
        .sphere:first-child{
            margin-top:0;
        }
        .gallery{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;
            grid-column-gap: 10em;
        }


    }
    @media screen and (min-width:viewports.$desktop+1) {
        .gallery{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: auto;
            grid-column-gap: 10em;
        }


    }
}
</style>