<template>
<div>
    <main>
        <section class="welcome">
          <h1>Welcome to The Crystal Silence League!</h1>
          <p>{{homePage.introText}}</p>
        </section>
        <section class="book">
          <h2>Get Your Copy Today!</h2>
          <img :src="getBookCover(homePage.bookCover)" :alt="homePage.bookCover.alternativeText">
          {{homePage.bookText}}
          <a class="buy-button" href="https://www.luckymojo.com/secretsofthecrystalsilenceleague.html">Buy</a>
        </section>
        <section class="donate">
          <h2>Love the site?</h2>
          <p>{{homePage.donateText}}</p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="U3XP59SWBVWJW">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
        </section>
    </main>
</div>
</template>
<script lang="ts">
import {Component, Prop,Vue} from 'vue-property-decorator'
import {MetaInfo} from 'vue-meta'
@Component({
    head():MetaInfo{
        return {title:'Welcome'}
    },
})
export default class Index extends Vue{
    homePage = this.$store.state.homePage.homePage
    getBookCover(image: { formats: { small: { url: any } } }){
      return `${this.$config.cmsURL}${image.formats.small.url}`
    }
}
</script>
<style lang="scss" scoped>
@import '@/assets/scss/viewports';

main{
  display: flex;
  flex-direction: column;
  padding:0.5em;
  h1,h2{
    margin-bottom:1em;
    text-align:center;
  }
  section{
    margin-top:1em;
    margin-bottom:1em;
    display:flex;
    flex-direction: column;
    &.book{
      justify-content: center;
      align-items: center;
      img{
        max-width: 60%;
        max-height: 80%;
        margin-bottom:0.5em;
      }
      .buy-button{
        text-decoration: none;
        font-size:1em;
        border:1px solid grey;
        background-color:grey;
        color:white;
        padding: .5em 1em .5em 1em;
        border-radius: 10%;
      }
    }
    &.donate{
      align-items: center;
      justify-content: center;
      a{
        text-decoration: none;
        text-align: center;
        padding:.25em;
        margin-top:1em;
        margin-bottom:1em;
        width:70%;
        font-size:1.5em;
        background-color:hsl(220, 50%, 50%);
        border-radius: 25px;
        color:hsl(220, 50%, 100%);
      }

    }
  }
  @media screen and (min-width:$tablet+1) {
      display:grid;
      grid-column-gap: 1.25em;
      grid-template-areas:
       "welcome welcome"
       "book    donate";
       .welcome{
         grid-area: welcome;
       }
       .book{
         grid-area: book;
       }
       .donate{
         grid-area:donate;
       }
    }
}

</style>