<template>
    <article>
        <h2>Here you can browse how crystal balls have been used in movies, adverts and art.</h2>
        <figure class="crystal-info" v-if="mediumSelected">
            <a href="#" @click.prevent="closeMedium()">Close</a>
            <img :src="image(mediumSelected.image)" :alt="altText(mediumSelected.image)">
            <caption>{{caption(mediumSelected.image)}}</caption>
        </figure>
        <section class="gallery">
            <template v-for="medium in media">
                <img class="gallery" :key="medium.key" :src="thumbnail(medium.image)" :alt="altText(medium.image)" @click="mediaInfo(medium)">
            </template>
        </section>
    </article>
</template>
<script lang="ts">
import {Component, Prop,Vue} from 'vue-property-decorator'
import {MetaInfo} from 'vue-meta'

type PhotoMedia ={
    id:number
}
    // get media(){
@Component({
    head():MetaInfo{
        return {title:'Crystals in Media'}
    },
})
export default class Drama extends Vue{
    mediumSelected:PhotoMedia|null = null
    get media(){
        return this.$store.state.media.media
    }
    thumbnail(image: { formats: { thumbnail: { url: any } },url:{} }[]){
        if (image[0].formats) {
            return `${this.$config.cmsURL}${image[0].formats?.thumbnail.url}`
        }
        return `${this.$config.cmsURL}${image[0].url}`

    }
    altText(image: { alternativeText: any }[]){
        return image[0].alternativeText
    }
    caption(image: { caption: any }[]){
        return image[0].caption
    }
    image(image: { url: any }[]){
        return `${this.$config.cmsURL}${image[0].url}`
    }
    mediaInfo(medium:any){
        
        this.mediumSelected = medium
        // console.log(`Medium selected ${this.mediumSelected.id}`)
        const gallery = document.querySelector<HTMLElement>('.gallery')
        if(gallery){
            gallery.style.opacity = '0.2'
            gallery.style.zIndex = '-1'
        }
    }
    closeMedium():void{

        this.mediumSelected = null
        const gallery = document.querySelector<HTMLElement>('.gallery')
        if(gallery){
            //  gallery.style="opacity:1"
            gallery.style.opacity = '1'
            gallery.style.zIndex = '1'
        }
        
    }
}
</script>
<style lang="scss" scoped>
@use '@/assets/scss/viewports';
article{
// border:2px solid green;
padding:1em;
min-height: 70vh;
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    img{
        // padding:0.2em;
        margin:0.5em;
        transition: all .25s ease-in;
        &.gallery:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
.crystal-info{
    border:2px solid black;
    position:fixed;
    top:auto;
    left:auto;
    // min-height:90%;
    // min-height:300px;
    background-color:hsl(0, 100%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 99;
    // border: 1px solid black;
    border-radius: 2%;
    padding:.5em;
    a{
        align-content: flex-end;
    }
    figure{
        border:0;
    }
    img{
        max-width: 80%;
    }
}

}


</style>