<template>
    <article>
        <h1>Sphere Gallery</h1>
        <h3>Here you'll find a vast collection of curated crystal balls. Click on one to learn more about its properties and benefits.</h3>

        <sphere-gallery :crystalBalls="crystalBalls" :galleryMode="true"/>
        <button class="seeMore" @click="seeMore()" :disabled="displayLimit>numberOfCrystals">{{buttonDisplayText()}}</button>
    </article>
</template>
<style lang="scss" scoped>
article{
    display:flex;
    flex-direction: column;
    padding: 1em;
    margin:auto auto;
    .seeMore{
        // display:flex;
        // text-align: center;
        // justify-content: center;
        // align-items: flex-end;
        margin: auto auto;
        width:50%;
        // margin-top:1em;
        font-size:2em;
    }
}
</style>
<script lang="ts">
import {Component, Prop,Vue} from 'vue-property-decorator'
import SphereGallery from '@/components/SphereGallery.vue'
import {CrystalBall} from '@/src/classes/crystalball'
import {MetaInfo} from 'vue-meta'
@Component({
    head():MetaInfo{
        return {title:'Crystal Balls'}
    },
    components:{SphereGallery}
})
export default class Sphere extends Vue{
    displayLimit = 9
    numberOfCrystals = this.$store.state.crystals.crystals.length
    get crystalBalls(){
        return this.$store.state.crystals.crystals.slice(0,Math.min(this.displayLimit,this.numberOfCrystals))
    } 
    seeMore(){
        this.displayLimit+=9
        console.log(`New limit ${this.displayLimit}`)
    }
    buttonDisplayText(){
        return this.displayLimit>this.numberOfCrystals?"End of Display":`Next ${Math.min(9,this.numberOfCrystals-this.displayLimit)}`
    }
       
      } 
</script>
